:root {
    --text-primary: #000000;
    --text-secondary: #ffffff;
    --active-accent: #7a7a7a;
    --accent:   #3232ff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--text-primary);
    font-family: "Google Sans", sans-serif;
    margin-top: 3dvh;
    box-sizing: border-box;
}
